<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style1.css">

    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONTS MONSERRAT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>HILAL</title>
</head>

<body>
    <header id="navbar">
        <div  class="nav-contenedor">
            <div class="logo"><a href="index.html"><img src="img/logo.png" alt="HilalCode logo"></a></div>
            <div class="nav-bar">
                <ul class="navigation">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="productos.html">SERVICIOS</a></li>
                    <li><a href="presupuesto.html">PRECIO</a></li>
                    <li><a href="contacto.html"><span class="active">CONTACTO</span></a></li>
                </ul>
                <div class="toggle-btn"><i class="fa-solid fa-bars"></i></div>
            </div>
        </div>
    </header>



    <section class="contacto">
        <div class="contacto-contenedor-mayor">
            <div class="contacto-mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.4942498773125!2d2.150360747188474!3d41.38507161304028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a39cb4652ea5%3A0x241e477925055c9!2sAcademia%20de%20Cursos%20Profesionales%20%7C%20MasterD%20Barcelona!5e0!3m2!1ses!2ses!4v1683571748518!5m2!1ses!2ses"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contacto-contenedor">

                <div class="contacto-elementos">
                    <div class="datos">
                        <p>C/ de Provença, 112B, 114, 08029 Barcelona</p>
                        <p><a href="gmail.com">Hidayahilal.mr@gmail.com</a></p>
                        <p>+34 623737050</p>
                    </div>
                    <div class="contacto-redes">
                        <ul class="contacto-socials">
                            <li><a href="facebook.com"><button class="btn"><i class="fab fa-facebook"></i>Facebook</button></a></li>
                            <li><a href="twitter.com"><button class="btn"><i class="fab fa-twitter"></i>Twitter</button></a></li>
                            <li><a href="instagram.com"><button class="btn"><i class="fab fa-instagram"></i>Instagram</button></a></li>
                            <li><a href="likedin.com"><button class="btn"><i class="fa-brands fa-linkedin"></i>LinkedIn</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--FOOTER-->

    <footer class="footer">
        <div class="footer-contenedor">
            <div class="footer-1">
                <a href="index.html" class="footer__logo">
                    <h4>HILAL</h4>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quos?</p>
            </div>
            <div class="footer-2">
                <h4>Premalinks</h4>
                <ul class="premalinks">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../views/productos.html">Servicios</a></li>
                    <li><a href="../views/presupuesto.html">Precio</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-3">
                <h4>Política</h4>
                <ul class="privacy">
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos & Condiciones</a></li>
                    <li><a href="#">Política de Reembolso</a></li>
                </ul>
            </div>
            <div class="footer-4">
                <h4>Contáctanos</h4>
                <div>
                    <p>code.hilal@gmail.com</p>
                </div>
                <ul class="footer-socials">
                    <li><a href="facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="likedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <small>Copyright &copy; HILAL Diseño y Desarrollo Web</small>
        </div>
    </footer>
</body>

</html>