<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style1.css">
    
    <!-- ICONSOUT CDN -->
    <script src="https://kit.fontawesome.com/975a84afb8.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONTS MONSERRAT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" 
    rel="stylesheet">

    <title>Servicios</title>
</head>

<body>
    <header id="navbar">
        <div  class="nav-contenedor">
            <div class="logo">
                <div class="logo-img"><a href="index.html"><img src="img/logo.png" alt="HilalCode logo"></a></div>
                <div class="logo-title"><h1>Hilal<span id="palabra-verde">CODE</span></h1></div>
            </div>            <div class="nav-bar">
                <ul class="navigation">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="productos.html">SERVICIOS</a></li>
                    <li><a href="presupuesto.html"><span class="active">PRECIO</span></a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
                <div class="toggle-btn"><i class="fa-solid fa-bars"></i></div>
            </div>
        </div>
    </header>    

    <section class="portafolios">

       

        <div class="portafolios-contenedor">

            <div class="portafolios-titulo">
            <p id="subtitulo">DISEÑO PROFESIONAL</p>
            <h1>NUESTROS SERVICIOS <span id="palabra-verde">.</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium pariatur quibusdam quaerat reiciendis unde. Beatae praesentium blanditiis laboriosam voluptatem culpa facere suscipit magnam nam, ipsam numquam, quasi fugiat explicabo eos!</p>
            </div>

            <div class="portafolio-servicios">
                <h2><span id="palabra-verde">></span>  DISEÑO GRÁFICO <span id="palabra-verde">_</span></h2>
                <div class="portafolio-servicio">
                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\diseño publicitario.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>Diseño Publicitario</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-solid fa-bullhorn"></i></span>
                            </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\diseño editorial.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>Diseño Editorial</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-solid fa-newspaper"></i></span>
                            </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\diseño de marca.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>Diseño de Marca</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-solid fa-pen-nib"></i></span>
                            </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="portafolio-servicios">
                <h2><span id="palabra-verde">></span>  DISEÑO Y DESARROLLO WEB <span id="palabra-verde">_</span></h2>
                <div class="portafolio-servicio">
                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\diseño web responsive.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>Diseño de Pagina Web Responsive</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-brands fa-square-js"></i></span>
                                <span><i class="fa-brands fa-css3-alt"></i></span>
                                <span><i class="fa-brands fa-html5"></i></span>
                            </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\wpo.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>WPO- Optimización y Rendimiento del Sitio Web</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-solid fa-database"></i></span>
                                <span><i class="fa-solid fa-magnifying-glass-chart"></i></span>
                                <span><i class="fa-solid fa-file-shield"></i></span>
                            </div>
                            <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>
                </div>    

            <div class="portafolio-servicios">
                <h2><span id="palabra-verde">></span>  MODELADO 3D <span id="palabra-verde">_</span></h2>
                <div class="portafolio-servicio">
                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\Impresion 3d.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>Diseño para Impresión 3D</h4>
                            <div class="productos-iconos"><span><i class="fa-brands fa-unity"></i></span></div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\diseño de personajes.jpg">
                        </div>
                        <div class="portafolio-info">
                            <h4>Diseño de Personajes</h4>
                            <div class="productos-iconos"><span><i class="fa-solid fa-dragon"></i></span></div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\sketchup.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>SKETCH-UP</h4>
                            <div class="productos-iconos"><span><i class="fa-solid fa-house"></i></span></div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\blender.jpg">
                        </div>
                        <div class="portafolio-info">
                            <h4>BLENDER</h4>
                            <div class="productos-iconos"><span><i class="fa-solid fa-cubes"></i></span></div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portafolio-servicios">
                <h2><span id="palabra-verde">></span> MARKETING <span id="palabra-verde">_</span></h2>
                <div class="portafolio-servicio">
                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\community manager.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>Community Manager</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-solid fa-user-plus"></i></span>
                            </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\social media ads.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>Social Media ADs</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-solid fa-hashtag"></i></span>
                            </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>

                    <div class="portafolio">
                        <div class="portafolio-img">
                            <img src="../img\seo.png">
                        </div>
                        <div class="portafolio-info">
                            <h4>SEO</h4>
                            <div class="productos-iconos">
                                <span><i class="fa-solid fa-globe"></i></span>
                            </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Quae velit quasi enim deserunt 
                            cumque ab dicta?
                        </p>
                        </div>
                        <div class="btn-producto">
                            <a href="../views/productos.html"><button class="btn">LEER MÁS</button></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <hr>
     <!--FOOTER-->

     <footer class="footer">
        <div class="footer-contenedor">
            <div class="footer-1">
                <a href="index.html" class="footer__logo"><h4>HILAL</h4></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quos?</p>
            </div>
            <div class="footer-2">
                <h4>Premalinks</h4>
                <ul class="premalinks">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../views/productos.html">Servicios</a></li>
                    <li><a href="../views/presupuesto.html">Precio</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </div> 
            <div class="footer-3">
                <h4>Política</h4>
                <ul class="privacy">
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos & Condiciones</a></li>
                    <li><a href="#">Política de Reembolso</a></li>
                </ul>
            </div>
            <div class="footer-4">
                <h4>Contáctanos</h4>
                <div>
                    <p>code.hilal@gmail.com</p>
                </div>
                <ul class="footer-socials">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <small>Copyright &copy; HILAL Diseño y Desarrollo Web</small>
        </div>
    </footer>

</body>
</html>
</body>    
</html>